:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --color-title: #212121;
  --color-txt: #757575;
  --color-accent: #2196f3;
  --color-black: #000000;
  --background-hero-footer: #2f303a;
  --background-butoon: #f5f4fa;
}

.body {
  font-family: ;
  color: #757575;
}

/* nav */
ul {
  list-style: none;
}
.link-logo {
  font-family: Raleway;
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
}
.link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: tomato;
}
.nav .link {
  color: #212121;
}
.nav-adress .link {
  color: #757575;
}
.link-studio,
.link-portfolio,
.link:hover,
.link:focus {
  color: #2196f3;
}
/* hero */
.hero {
  background: #2f303a;
  text-align: center;
}
.hero-title {
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}

/* portfolio */
.portfolio-button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #f5f4fa;
}
.portfolio-button-active {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  columns: #ffffff;
  background-color: #2196f3;
}

.card-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.card-txt {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
/* footer */

/* map*/
.map {
  color: #ffffff;
  background: #2f303a;
}
/* footer mail, tel */
.contact {
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
}
.contact:hover,
.contact:focus {
  color: #ffffff;
}
